<button (click)="back()">Back</button>
<form (ngSubmit)="newUser()" [formGroup] = "newUserForm">
    <h2>New User:</h2>
    <div *ngIf="invalidUser">Invalid user</div>
    <label for="inputFirstName">First name:</label>
    <input type="text" id="inputfirstName" name="firstName" formControlName="firstName">
    <div *ngIf = "firstName.touched && firstName.invalid" class="validationError">Not a valid first name</div>
    <label for="inputLastName">Last name:</label>
    <input type="text" id="inputlastName" name="lastName" formControlName="lastName">
    <div *ngIf = "lastName.touched && lastName.invalid" class="validationError">Not a valid last name</div>
    <label for="inputEmail">Email:</label>
    <input type="email" id="inputEmail" name="email" formControlName="email">
    <div *ngIf = "email.touched && email.invalid" class="validationError">Not a valid email adress</div>
    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name="password" formControlName="password">
    <div *ngIf = "password.touched && password.invalid" class="validationError">Not a valid password</div>
    <label for="inputAvatar">Link to avatar:</label>
    <input type="text" id="inputAvatar" name="avatar" formControlName="avatar">
    <div *ngIf = "avatar.touched && avatar.invalid" class="validationError">Not a valid link to avatar image</div>
    <button type="submit">Create</button>
</form>