<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ul id="sideMenu">
        <li class="sideMenuItem"><button class="sideMenuButton" routerLink="" (click)="drawer.toggle()">Home</button></li>
        <li class="sideMenuItem" *ngIf="authService.isLoggedIn()"><button class="sideMenuButton" routerLink="private-home" (click)="drawer.toggle()">Users</button></li>
        <li class="sideMenuItem" *ngIf="!authService.isLoggedIn()"><button class="sideMenuButton" routerLink="login" (click)="drawer.toggle()">Login</button></li>
        <li class="sideMenuItem" *ngIf="authService.isLoggedIn()"><button class="sideMenuButton" (click)="authService.logout(); drawer.toggle()">Logout</button></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngClass]="{handsetToolbar : (isHandset$ | async)}">
      <button
        id="sideMenuButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        Menu
      </button>
      <ul id="menu" *ngIf="!(isHandset$ | async)">
        <li class="menuItem"><button class="menuButton" routerLink="">Home</button></li>
        <li class="menuItem" *ngIf="authService.isLoggedIn()"><button class="menuButton" routerLink="private-home">Users</button></li>
        <li class="menuItem" *ngIf="!authService.isLoggedIn()"><button class="menuButton" routerLink="login">Login</button></li>
        <li class="menuItem hoverMenu" id="avatarMenu" *ngIf="authService.isLoggedIn()">
            <button class="menuItem hoverMenu" id="avatarButton">{{ authService.currentUser.firstName }} {{ authService.currentUser.lastName }}</button>
            <img class="avatar hoverMenu" [src]="authService.currentUser.avatar">
            <div class="hoverMenu" id="logoutDropdown" *ngIf="authService.isLoggedIn()">
              <ul id="logoutDropdownList">
                <li class="logoutDropdownItem"><button class="menuButton dropdownButton" (click)="authService.logout()">Logout</button></li>
                <li class="logoutDropdownItem"><button class="menuButton dropdownButton" >Extra options</button></li>
                <li class="logoutDropdownItem"><button class="menuButton dropdownButton" >Another option</button></li>
              </ul>
            </div>
        </li>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <ul id="menu">
  <li class="menuItem"><button class="menuButton" routerLink="">Home</button></li>
  <li class="menuItem" *ngIf="authService.isLoggedIn()"><button class="menuButton" routerLink="private-home">Users</button></li>
  <li class="menuItem" *ngIf="!authService.isLoggedIn()"><button class="menuButton" routerLink="login">Login</button></li>
  <li class="menuItem hoverMenu" id="avatarMenu" *ngIf="authService.isLoggedIn()">
      <button class="menuItem hoverMenu" id="avatarButton">{{ authService.currentUser.firstName }} {{ authService.currentUser.lastName }}</button>
      <img class="avatar hoverMenu" [src]="authService.currentUser.avatar">
      <div class="hoverMenu" id="logoutDropdown" *ngIf="authService.isLoggedIn()">
        <ul id="logoutDropdownList">
          <li class="logoutDropdownItem"><button class="menuButton dropdownButton" (click)="authService.logout()">Logout</button></li>
          <li class="logoutDropdownItem"><button class="menuButton dropdownButton" >Extra options</button></li>
          <li class="logoutDropdownItem"><button class="menuButton dropdownButton" >Another option</button></li>
        </ul>
      </div>
  </li>
</ul> -->
