$itemBackground: lightgrey;
$logoutDropdownBackground: darkgrey;
$avatarButtonActive: darkgrey;
$inactiveDropdownButton: lightgrey;
$activeDropdownButton: grey;
$avatarBackground: black;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}


#menu{
  width:100%;
  height: 100px;
  list-style:none;
  margin:0;
  background-color: $itemBackground;
}

.menuItem{
  float:left;
  cursor: pointer;
  height:100%;
  margin-left: 20px;
  margin-right: 20px;
}

#logoutDropdown{
  float: right;
  position: absolute;
  background-color: $logoutDropdownBackground;
  width:255px;
  margin-top: -4px;
  padding: 10px;
  list-style-type: none;
  z-index: 10;
}

.logoutDropdownItem{
  margin: 10px;
  list-style-type: none;
}

.menuButton{
  height:100%;
  width: 175px;
  border-radius: 0px;
}

#avatarMenu{
  float:right;
  margin-right: 130px;
  margin-left: 0;
  cursor: default;
}

#avatarButton{
  height:100%;
  width: 175px;
  margin-left: 0;
  border-radius: 0px;
  margin-right:0px;
}

#avatarButton:hover{
  background-color: $avatarButtonActive;
}

.hoverMenu:hover #logoutDropdown{
  visibility: visible;
}

.hoverMenu #logoutDropdown{
  visibility: hidden;
}

.dropdownButton{
  background-color: $inactiveDropdownButton;
}

.dropdownButton:hover{
  background-color: $activeDropdownButton;
}

#logoutDropdownList{
  padding-inline-start: 30px;
}

.avatar{
  background-color: $avatarBackground;
  height: 100px;
  width: 100px;
  object-fit: fill;
  list-style:none;
  margin:0;
}

mat-sidenav{
  background-color: $itemBackground;
  padding: 20px;
}

#sideMenu{
  list-style: none;
  padding-inline-start: 0;
}

mat-toolbar{
  align-items: normal;
  display: inline;
  padding: 0;
}

.sideMenuItem{
  cursor: pointer;
  width:100%;
  margin-bottom:20px;
  text-align:center;
}

.sideMenuButton{
  height:100%;
  width: 150px;
  border-radius: 0px;
}

.handsetToolbar{
  display: inline-block;
  width:100%;
  background-color: $itemBackground;
  padding: 10px;
}

#sideMenuButton{
  width:100px;
  border-radius:0px;
}
