<ul id="menu">
  <li class="menuItem"><a routerLink="">Home</a></li>
  <li class="menuItem" *ngIf="authService.isLoggedIn()"><a routerLink="private-home">Private-home</a></li>
  <li class="menuItem" *ngIf="!authService.isLoggedIn()"><a routerLink="login">Login</a></li>
  <li>
    <ul>
      <li class="menuItem" *ngIf="authService.isLoggedIn() && avatarClicked">{{ authService.currentUser.firstName }}</li>
      <li class="menuItem" *ngIf="authService.isLoggedIn() && avatarClicked"><a (click)="authService.logout()">Logout</a></li>
    </ul>
  </li>
  <li class="avatar" *ngIf="authService.isLoggedIn()" (click)="dropDown()"><img [src]="authService.currentUser.avatar"></li>

</ul>
<router-outlet></router-outlet>