<ul id="menu">
  <li class="menuItem"><button class="menuButton" routerLink="">Home</button></li>
  <li class="menuItem" *ngIf="authService.isLoggedIn()"><button class="menuButton" routerLink="private-home">Private-home</button></li>
  <li class="menuItem" *ngIf="!authService.isLoggedIn()"><button class="menuButton" routerLink="login">Login</button></li>
  <li class="menuItem" id="avatarMenu" *ngIf="authService.isLoggedIn()">
      <button class="menuItem" id="avatarButton" (click)="dropDown()">{{ authService.currentUser.firstName }} {{ authService.currentUser.lastName }}</button>
      <img class="avatar" [src]="authService.currentUser.avatar">
  </li>
</ul>
<div id="logoutDropdown" *ngIf="avatarClicked && authService.isLoggedIn()">
  <ul>
    <li class="logoutDropdownItem"><button class="menuButton" (click)="authService.logout(); this.avatarClicked = false;">Logout</button></li>
    <li class="logoutDropdownItem"><button class="menuButton" >Extra options</button></li>
    <li class="logoutDropdownItem"><button class="menuButton" >Another option</button></li>
  </ul>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>