<button (click)="back()">Back</button>
<form (ngSubmit)="update()" [formGroup]="updateUserForm">
    <h2>User update:</h2>
    <div *ngIf="invalidUpdate">Invalid update</div>
    <label for="inputFirstName">First name:</label>
    <input type="text" id="inputfirstName" name="firstName" formControlName="firstName" required>
    <div *ngIf = "firstName.touched && firstName.invalid" class="validationError">Not a valid first name</div>
    <label for="inputLastName">Last name:</label>
    <input type="text" id="inputlastName" name="lastName" formControlName="lastName" required>
    <div *ngIf = "lastName.touched && lastName.invalid" class="validationError">Not a valid last name</div>
    <label for="inputEmail">Email:</label>
    <input type="email" id="inputEmail" name="email" formControlName="email" required>
    <div *ngIf = "email.touched && email.invalid" class="validationError">Not a valid email adress</div>
    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name="password" formControlName="password" required>
    <div *ngIf = "password.touched && password.invalid" class="validationError">Not a valid password</div>
    <label for="inputAvatar">Link to avatar:</label>
    <input type="text" id="inputAvatar" name="avatar" formControlName="avatar" required>
    <div *ngIf = "avatar.touched && avatar.invalid" class="validationError">Not a valid link to avatar image</div>
    <button type="submit" [disabled]="updateUserForm.invalid">Update</button>
</form>