<h2>Welcome {{ authService.currentUser.firstName }}</h2>
<button (click)="newUser()">New user</button>
<div id="userListContainer" (window:resize)="onResize()">
    <mat-grid-list id="userList" [cols]="breakpoint" rowHeight="400px">
        <mat-grid-tile *ngFor="let user of (users$ | async)?.data | slice:startIndex:endIndex">
            <a class="userListItem" [routerLink]="user.id">
                {{ ((user.firstName + " " + user.lastName).length>30)? ((user.firstName + " " + user.lastName) | slice:0:30)+'..':((user.firstName + " " + user.lastName)) }}
                <div class="avatarContainer avatarUserList">
                    <img class="avatar" [src]="user.avatar">
                </div>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<nav>
    <ul id="pagination">
        <li class="paginationItem" (click)="previousPage()">
            <a>
                &laquo;
            </a>
        </li>
        <li class="paginationItem"
            *ngFor="let i of getArrayFromNumber((users$ | async)?.data.length); let in = index"
            [ngClass]="{'paginationItemActive' : this.currentPage == in}"
            (click)="updateIndex(in);"
        ><a>{{ in+1 }}</a></li>
        <li class="paginationItem" (click)="nextPage()">
            <a>
                &raquo;
            </a>
        </li>
    </ul>
</nav>
