#userList{
    list-style:none;
    padding-left:0;
}

.userListItem{
    padding: 20px;
    cursor: pointer;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
}

.userListItem a{
    text-decoration: none;
    color: black;
}

.avatarUserList{
    margin-top: 10px;
}

nav{
    text-align: center;
}

#pagination{
    list-style:none;
    display: inline-block;

}

.paginationItem{
    float:left;
    margin: 5px;
    background-color: darkgrey; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

.paginationItem:hover{
    cursor:pointer;
    background-color: grey;
}

.paginationItemActive{
    background-color: black;
}