<h2>Welcome {{ authService.currentUser.firstName }}</h2>
<button (click)="newUser()">New user</button>
<ul id="userList">
    <li class="userListItem" *ngFor="let user of (users$ | async)?.data | slice:startIndex:endIndex">
        <a [routerLink]="user.id">
            {{ user.firstName }}
            {{ user.lastName }}
            <div class="avatarContainer avatarUserList">
                <img class="avatar" [src]="user.avatar">
            </div>
        </a>
    </li>
</ul>
<nav>
    <ul id="pagination">
        <li class="paginationItem">
            <a>
                &laquo;
            </a>
        </li>
        <li class="paginationItem" *ngFor="let i of getArrayFromNumber((users$ | async)?.data.length); let in = index"
            (click)="updateIndex(in);"
        ><a>{{ in+1 }}</a></li>
        <li class="paginationItem">
            <a>
                &raquo;
            </a>
        </li>
    </ul>
</nav>
